# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Environment variables
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log
bitcoin_price_service.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker/

# Redis dump
dump.rdb
*.rdb
